<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Every Closet Wardrobe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="col-10 mx-auto">
        <div class="d-flex justify-content-between align-items-center mx-auto p-4">
            <div >
                <img src="C:\Users\K\Desktop\Coding_Dojo\Projects_Algorithms\Project\1_SoloProject\SoloProject_Mar2022\logo.PNG" alt="logo">
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <h1 class="p-3">{{user.first_name}}</h1>
                <a href="/logout" class="btn btn-info">Logout</a>
            </div>
        </div>
        <div class="d-flex flex-row bd-highlight mb-3 align-items-center mx-auto">
            <a href="/dashboard" class="p-4 bd-highlight">My Items</a>
            <a href="/new/item" class="p-4 bd-highlight">Add Items</a>
            <a href="" class="p-4 bd-highlight">Edit My Account</a>
        </div>
    </nav>

    <div class="col-8 mx-auto">
        <div class="form-group">
            <h3>Clothing</h3>
        </div>
        <div class="form-group">
            <h3>Shoes</h3>
        </div>
        <div class="form-group">
            <h3>Accessories & Watches</h3>
        </div>
    </div>
</body>
</html>
