<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Every Closet Wardrobe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="col-10 mx-auto">
        <div class="d-flex justify-content-between align-items-center mx-auto p-4">
            <div class="d-flex justify-content-btween align-items-center">
                <img src="https://cdn-icons-png.flaticon.com/512/48/48906.png" alt="logo1" width="50px" height="50px">
                <h1 class="mx-3">Every Closet Wardrobe</h1>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnWL3_b3Xe2y7lizD6k4Ggo9Crc2rTG_dIAw&usqp=CAU" alt="logo" width="50px" height="50px">
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <a href="/dashboard" class="btn btn-primary mx-3">My Items</a>
                <a href="/logout" class="btn btn-info">Logout</a>
            </div>
        </div>
    </nav>

    <form action="/update/item" method="post" class="col-7 p-4 my-4 bg-dark text-light mx-auto">
        <h2 class="text-primary">Edit Item</h2>
        {% with messages = get_flashed_messages(category_filter=['item']) %}
            {% if messages %}
            <div class="alert alert-danger col-5" role="alert">
                <!-- <strong>Flash AHHHHHHH!!!</strong> -->
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}

        <div class="col-6">
            <input type="hidden" name="id" value="{{edit.id}}">
            <label for="category">Category</label>

            <div class="d-flex justify-content-around">
                <div class="form-group">
                    <label for="clothing_top">Clothing Top:</label>
                    <select name="clothing_top" class="form-select" arial-label="Default select example">
                        <option selected value="{{edit.clothing_top}}">{{edit.clothing_top}}</option>
                        <option value="Shirt">Shirt</option>
                        <option value="T Shirt">T shirt</option>
                        <option value="Polo">Polo</option>
                        <option value="Blazer">Blazer</option>
                        <option value="Coat">Coat</option>
                        <option value="Jacket">Jacket</option>
                        <option value="Hoody">Hoody</option>
                        <option value="Sweatshirt">Sweatshirt</option>
                        <option value="Sweater">Sweater</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="clothing_bottom">Clothing Bottom:</label>
                    <select name="clothing_bottom" class="form-select" arial-label="Default select example">
                        <option selected value="{{edit.clothing_bottom}}">{{edit.clothing_bottom}}</option>
                        <option value="Pants">Pants</option>
                        <option value="Jean">Jean</option>
                        <option value="Shorts">Shorts</option>
                    </select>
                </div>
            </div>

            <div class="d-flex justify-content-around">
                <div class="form-group">
                    <label for="underwear_swim">Underwear & Swim:</label>
                    <select name="underwear_swim" class="form-select" arial-label="Default select example">
                        <option selected value="{{edit.underwear_swim}}">{{edit.underwear_swim}}</option>
                        <option value="Underwear">Underwear</option>
                        <option value="Swim">Swim</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="pajamas">Pajamas:</label>
                    <select name="pajamas" class="form-select" arial-label="Default select example">
                        <option selected value="{{edit.pajamas}}">{{edit.pajamas}}</option>
                        <option value="Pajama Top">Pajama Top</option>
                        <option value="Pajama Pants">Pajama Pants</option>
                        <option value="Pajamas">Pajamas</option>
                    </select>
                </div>
            </div>

            <div class="d-flex justify-content-around">
                <div class="form-group">
                    <label for="shoes_socks">Shoes & Socks:</label>
                    <select name="shoes_socks" class="form-select" arial-label="Default select example">
                        <option selected value="{{edit.shoes_socks}}">{{edit.shoes_socks}}</option>
                        <option value="Shoes">Shoes</option>
                        <option value="Socks">Socks</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="accessory">Accessory:</label>
                    <select name="accessory" class="form-select" arial-label="Default select example">
                        <option selected value="{{edit.accessory}}">{{edit.accessory}}</option>
                        <option value="Watch">Watch</option>
                        <option value="Belt">Belt</option>
                        <option value="Glasses">Glasses</option>
                        <option value="Sunglasses">Sunglasses</option>
                        <option value="Bag">Bag</option>
                        <option value="Glove">Glove</option>
                        <option value="Tie">Tie</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label for="buying_date">Buying Date:</label>
                <input type="date" name="buying_date" class="form-control" value="{{edit.buying_date.strftime('%Y-%m-%d')}}">
            </div>
            <div class="form-group">
                <label for="item_image">Picture (optional):</label>
                <img src="{{edit.item_image_url}}" class="rounded mx-auto d-block" alt="item_image">
                <label for="item_image_url">Image URL Address:</label>
                <input type="text" name="item_image_url" class="form-control" value="{{edit.item_image_url}}">
            </div>

            <div class="form-group">
                <label for="description">Description (optional):</label>
                <textarea name="description" cols="30" rows="5" class="form-control">{{edit.description}}</textarea>
            </div>
            <br>
            <input type="submit" value="Update" class="btn btn-primary">

        </div>
    </form>
</body>
</html>