<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Every Closet Wardrobe Register Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center mx-auto col-10 p-4">
        <div class="d-flex justify-content-btween align-items-center">
            <img src="https://cdn-icons-png.flaticon.com/512/48/48906.png" alt="logo1" width="50px" height="50px">
            <h1 class="mx-3">Every Closet Wardrobe</h1>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnWL3_b3Xe2y7lizD6k4Ggo9Crc2rTG_dIAw&usqp=CAU" alt="logo" width="50px" height="50px">
        </div>
    </nav>

    <div class="d-flex justify-content-around p-4">
        <form action="/register" method="post" class="col-4 p-4 bg-dark text-light">
            <h2 class="text-primary">Register</h2>
            {% with messages =get_flashed_messages(category_filter=['register']) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <!-- <strong>Flash AHHHHHHH!!!!</strong> -->
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
            {% endwith %}
            <div class="d-flex justify-content-around">
                <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input type="text" name="last_name" class="form-control">
                </div>
            </div>
            <div class="d-flex justify-content-around">
                <div class="form-group">
                    <label for="city">City:</label>
                    <input type="text" name="city" class="form-control">
                </div>
                <div class="form-group">
                    <label for="state">State:</label>
                    <input type="text" name="state" class="form-control">
                </div>
            </div>
            
            <!-- <div class="form-group">
                <label for="gender">Gender:</label>
                <div class="input-group-text bg-dark">
                        <label for="0" class="text-warning">Male</label>
                        <input type="radio" name="gender" value="0" class="form-control" >
                    </div>
                    <div class="input-group-text bg-dark">
                        <label for="1" class="text-warning">Female</label>
                        <input type="radio" name="gender" value="1" class="form-control">
                    </div>
            </div> -->


            <div class="form-group col-6">
                <label for="birth">Birthdate:</label>
                <input type="date" name="birth" class="form-control">
            </div>
                

            <div class="form-group">
                <label for="gender">Gender:</label>
                <select name="gender" class="form-select" arial-label="Default select example">
                    <option selected></option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            
            
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="confirm">Confirm Password:</label>
                <input type="password" name="confirm" class="form-control">
            </div>
            <input type="submit" value="Register" class="btn btn-primary">
        </form>

        <form action="/login" method="post" class="col-4 p-4 bg-dark text-light">
            <h2 class="text-success">Login</h2>
            {% with messages = get_flashed_messages(category_filter=['login']) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <!-- <strong>Flash AHHHHHHH!!!!</strong> -->
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control">
            </div>
            <input type="submit" value="Login" class="btn btn-success">
        </form>
    </div>
</body>
</html>